<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <%= title %> -->

    <div id="app" class="big">
      
      <div class="wrapper">
        <div class="navbar">
          <a href="javascript:;" class="logo left">ShoppingList</a>
          <a href="https://youtu.be/H_kmEHblVhA" class="youtube right" target="_blank"></a>
        </div>
      </div>

      <div class="wrapper small">
        <span class="empty">Sua lista está vazia!</span>

        <div class="shoppingList"></div>

        <div class="buttons-list">
          <a href="javascript:;" class="remove">Remover</a>
          <a href="javascript:;" class="add">Adicionar</a>  
        </div>
        
        <a href="javascript:;" class="button">Salvar</a>
      </div>

      <span class="status">Lista atualizada com sucesso!</span>
    </div>

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/TweenMax.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>