@font-face {
    font-family: 'PoiretOneRegular';
    src: url('/fonts/PoiretOne/PoiretOneRegular.eot');
    src: url('/fonts/PoiretOne/PoiretOneRegular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PoiretOne/PoiretOneRegular.woff2') format('woff2'),
         url('/fonts/PoiretOne/PoiretOneRegular.woff') format('woff'),
         url('/fonts/PoiretOne/PoiretOneRegular.ttf') format('truetype'),
         url('/fonts/PoiretOne/PoiretOneRegular.svg#PoiretOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenBold';
    src: url('/fonts/Oxygen/OxygenBold.eot');
    src: url('/fonts/Oxygen/OxygenBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Oxygen/OxygenBold.woff2') format('woff2'),
         url('/fonts/Oxygen/OxygenBold.woff') format('woff'),
         url('/fonts/Oxygen/OxygenBold.ttf') format('truetype'),
         url('/fonts/Oxygen/OxygenBold.svg#oxygenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenLight';
    src: url('/fonts/Oxygen/OxygenLight.eot');
    src: url('/fonts/Oxygen/OxygenLight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Oxygen/OxygenLight.woff2') format('woff2'),
         url('/fonts/Oxygen/OxygenLight.woff') format('woff'),
         url('/fonts/Oxygen/OxygenLight.ttf') format('truetype'),
         url('/fonts/Oxygen/OxygenLight.svg#oxygenlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenRegular';
    src: url('/fonts/Oxygen/OxygenRegular.eot');
    src: url('/fonts/Oxygen/OxygenRegular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Oxygen/OxygenRegular.woff2') format('woff2'),
         url('/fonts/Oxygen/OxygenRegular.woff') format('woff'),
         url('/fonts/Oxygen/OxygenRegular.ttf') format('truetype'),
         url('/fonts/Oxygen/OxygenRegular.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  padding: 0;
  margin: 0;
  background-color: #1b1a25;
}

#app {
	position: relative;
	min-height: 100%;
}

#app.big { padding-bottom: 50px; }

.wrapper {
	height: 100%;
	min-height: 100%;
	position: relative;
	width: auto;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 2%;
	overflow: hidden;
}

.wrapper.small {
  max-width: 800px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navbar {
  overflow: hidden;
  padding: 50px 0;
}

.navbar .logo {
  font-family: 'PoiretOneRegular';
  font-size: 45px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .youtube {
  background: url('../images/youtube.png') center no-repeat;
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
}

.shoppingList {
  min-height: 210px;
}

.empty {
  display: none;
  font-family: 'OxygenLight';
  color: white;
  display: block;
  text-align: center;
  font-size: 22px;
  height: 210px;
  line-height: 210px;
}

.shoppingList__item {
  position: relative;
  height: 50px;
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
}

.shoppingList .shoppingList__item .col {
  width: 70%;
  height: 100%;
  position: relative;
}

.shoppingList .shoppingList__item .col.right {
  width: 28%;
}

.shoppingList__item:first-child {
  margin-top: 0;
}

.shoppingList__item .lbl {
  display: block;
  color: white;
  font-family: 'OxygenLight';
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  left: 0px;
  transition: background .3s linear;
  width: 100%;
}

.shoppingList__item .text {
  display: block;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  outline: none;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  font-size: 14px;
  color: white;
  font-family: 'OxygenLight';
}

.shoppingList__item .line {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0%;
  height: 2px;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  z-index: 3;
}

.shoppingList__item.active .lbl {
  top: 0;
}

.shoppingList__item.active .line {
  width: 100%;
}

.button {
  display: block;
  height: 40px;
  width: 180px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #f43b47 0%, #453a94 100%);
  border-radius: 5px;
  margin: 70px auto 0px;
  font-family: 'OxygenLight';
  font-size: 15px;
}

.buttons-list {
  overflow: hidden;  
}

.buttons-list .add {
  float: right;
  display: block;
  margin-top: 70px;
  text-decoration: none;
  font-family: 'OxygenLight';
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  background: url('../images/add.png') center left no-repeat;
  background-size: 12px 12px;
  padding-left: 18px;
}

.buttons-list .remove {
  float: left;
  display: block;
  margin-top: 70px;
  text-decoration: none;
  font-family: 'OxygenLight';
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  background: url('../images/remove.png') center left no-repeat;
  background-size: 10px 10px;
  padding-left: 18px;
}

.status {
  display: none;
  height: 50px;
  line-height: 50px;
  font-family: 'OxygenLight';
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: 14px;
  padding: 0 40px;
  position: fixed;
  bottom: 40px;
  right: 0;
  opacity: 0;
  animation: status .8s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes status {
  0% {
    opacity: 0;
    right: -300px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}